* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body, html {
    min-height: 100%; 
}

.teacher:active,
.teacher:hover  {
  text-decoration: none;
    color: #4b3090;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4b3090;
    margin-right: 200px;
    margin-left: 200px;
}

.main {
    width: 100%;
    margin-top: 100px;
    display: block;
    min-height: 100vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #e4c6b6;
    box-shadow: 8px 0px 16px 0px rgba(0, 0, 0, 0.50); 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    gap: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 9;
}

.logo {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65px;
    background: #e4c6b6;
}
.logo img {
    border-radius: 50px;
    height: 75px;
    width: 75px;
    position: relative;
}

.infoCard {
    width: 100%;
    min-height: 60px;
    background: #4b3090;
    border-radius: 20px;
    color: #e4c6b6;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dropbox {
    width: 100%;
    min-height: 60px;
    background: #4b3090;
    border-radius: 20px;
    color: #e4c6b6;
    padding-left: 20px;
    padding-right: 20px;
}

.infoCard h2 {
    margin-left: 20px;
}


.dropbox__title {
    width: 100%;
    border-radius: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
}

.dropbox__title h2 {
    margin-right: 10px;
}

h1 {
    margin-bottom: 20px;
}
.triangle::before {
    content: '◤';
    color: #e4c6b6;
    display: block;
    font-size: 20px;
    margin-right: 10px;
    transform: rotate(45deg);
    display: block;
    margin-top: 5px;
}

.dropbox__title.active .triangle::before {
    transform: rotate(-135deg);
    margin-top: 0px;
    margin-bottom: 5px;
}

.dropbox__content .infoCard {
    background-color: #e4c6b6;
    color: #4b3090;
}
.dropbox__content {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.dropbox__content .dropbox {
    background-color: #e4c6b6;
    color: #4b3090;
}
.dropbox.blue .triangle::before{
    color: #e4c6b6 !important;
}
.blue {
    background: #4b3090 !important;
    color: #e4c6b6 !important;
}

.dropbox__content .dropbox .triangle::before{
    color: #4b3090;
}

.active {
    display: flex !important;
}
.dropbox__content ul {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.wrap {
    background: linear-gradient(180deg, #B01060 0%, #C6AE02 100%); 
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.teacher {
    display: flex;
    justify-content: start;
    gap: 20px;
    border-radius: 20px;
    border: 5px solid #4b3090;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    position: relative;
}

.teacher__card {
    display: flex;
    justify-content: start;
    gap: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
.teacher__card .teacher__title {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.teacher__card img {
    height: 280px;
    border-radius: 15px;
}

.teacher__info {
    margin-top: 20px;
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.teacher img {
    height: 290px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.teacher__title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.teacher__title h3 {
    font-size: 25px;
}

.teacher__wrapper {
    position: absolute;
    background: rgba(228, 198, 182, 0.1);
    backdrop-filter: blur(5px); 
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 800;
    color: #4b3090;
    transition: opacity 0.5s;
}

.teacher:hover .teacher__wrapper {
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 9;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    padding-left: 130px;
    padding-right: 130px;
    gap: .625rem;
}
.rating {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.rating__body {
    position: relative;
}
.rating__body::before {
    content: '★ ★ ★ ★ ★';
    display: block;
    color: #4b3090;
}

.rating__active {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.rating__active::before {
    content: '★ ★ ★ ★ ★';
    color: #C6AE02;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    font-size: 30px;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}

.comment__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-left: 130px;
    padding-right: 130px;
}


.comments {
    margin-top: 40px;
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    border: solid #4b3090 2px;
    padding: 10px 10px 10px 10px;
}
.comment p {
    margin-left: 10px;
}
.comment h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.comment__name {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: #4b3090 solid 2px;
    outline:none;
    background: #e4c6b6;
}
.comment__text {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: #4b3090 solid 2px;
    outline:none;
    background: #e4c6b6;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    height: 200px;
}

.submit__comment {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #4b3090;
    cursor: pointer;
    font-size: 20px;
    color: #e4c6b6;
}

.submit__comment:active {
    background: #3d2775;
}


